*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height:auto;
    background-color: #e74143;
}
.One{
    width: 100%;
    height: auto;
}
.One img{
    width: 100%;
    height: 100%;
}
.Two{
    width: 80%;
    height:auto;
    margin: 0 auto;
    /*background-color: aliceblue; 图一背景色，看布局放开*/
}
.Two img{
    width: 100%;
    height: 100%;
}
.Three{
    width: 80%;
    height:auto;
    margin: 0 auto;
    margin-top: 0.8rem;
}
.Three img{
    width: 100%;
    height: 100%;
}
.Four{
    width: 80%;
    height:auto;
    margin: 0 auto;
    margin-top: 0.8rem;
}
.Four img{
    width: 100%;
    height: 100%;
}
.Five{
    width: 80%;
    height:auto;
    margin: 0 auto;
    margin-top: 0.8rem;

}
.Five img{
    width: 100%;
    height: 100%;
}
.Six{
    width: 80%;
    height:6.0rem;
    margin: 0 auto;
}
.pzero{
    color: white;
    font-family: 微软雅黑;
    font-size: 48px;
}
.pone{
     margin-top: 0.2rem;
     color: white;
     letter-spacing:2px;
     font-family: 微软雅黑;
     font-size: 32px;
 }
.ptwo{
    /*margin-top: 0.1rem;*/
    color: white;
    letter-spacing:2px;
    font-family: 微软雅黑;
    font-size: 32px;
}